<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CarsEntities" connectionString="metadata=res://*/Model.Entities.CarEntitie.csdl|res://*/Model.Entities.CarEntitie.ssdl|res://*/Model.Entities.CarEntitie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4I6DFQ3\SQLEXPRESS;initial catalog=Cars;user id=serverUser;password=user;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>